



</body>


<!-- Site footer -->
<footer class="site-footer">
<div class="container">
<div class="row">
  <div class="col-sm-12 col-md-6">
    <h6>About</h6>
    <p class="text-justify">This portal tends to manage the database of the University.</p>
  </div>

  <div class="col-xs-6 col-md-3">
    <h6>Categories</h6>
    <ul class="footer-links">
      <li><a href="./start.html">Home</a></li>
  </div>
  <h5>Address : </h5>
  <ul>
    <li>K R Circle, Bangalore</li>
  </ul>

</div>
    </p>
  </div>
  </div>
</div>
</div>
</footer>
</footer>

</html>


