<%-  include('./partials/header.ejs') %>
<br><br>
<div style="margin-left: 600px;"><form action="/clgs" method="POST">
    <button type="submit" style="width: 100px; height: 100px">College</button>
    </form>
    <br><br>
    <form action="/studorres" method="POST">
    <button type="submit" style="width: 100px; height: 100px">Student</button>
    </form></div>

<br><br><br>
<%-  include('./partials/footer.ejs') %>