<%-  include('./partials/header.ejs') %>
<bR>

<bR>
<div style="text-align: center;"><form action="/resu_page" method="POST">
    <label><h4>Enter Student Id for results</h4></label> <br>
    <bR>
    <input type="text" name="stud_res_td" required>
    <button type="submit">Check</button>
    </form>
    </div>
<bR><bR>
    <h4><a href="/testing" style="margin-left: 650px;">Filter by Project Marks</a></h4><br><bR>

<%-  include('./partials/footer.ejs') %>