<%-  include('./partials/header.ejs') %><bR><bR><br>

<div style="text-align: center;">
    <form  action="/test2" method="POST">
        <label><h3>Enter Marks to Filter the students</h3></label><br><br>
        <input type="text" name="marks_to_filter"><br><br>
        <button type="submit">Submit</button>
        </form>
</div>


<bR><br><br>
<%-  include('./partials/footer.ejs') %>
